:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  background-color: black;
  color: #d6e1e9;
  color-scheme: dark;
  --border: #374450;
  --bg: #19181f;
}

* {
  box-sizing: border-box;
}
h2{
  text-wrap: pretty;
  margin-block: 0.4em;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
main{
  width: 100%;
  max-width: 1200px;
}
main.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  padding-bottom: 12px;
}

article {
  background-color: var(--bg);
  padding: 16px;
  border: 3px solid var(--border);
  border-radius: 5px;
  position: relative;
}

form {
  background-color: var(--bg);
  width: 100%;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 12px;
  border: 3px solid var(--border);
  border-radius: 5px;
}
p{
  word-wrap: break-word;
}
button {
  font-weight: bolder;
  align-self: flex-end;
  padding: 16px;
  font-size: large;
  background-color: #374450;
  border-color: #495f74;
  border-width: 3px;
  border-radius: 12px;
  text-wrap: nowrap;
  align-self: center;
}
button:hover{
  cursor: pointer;
  background-color: darkblue;
}
label{
  font-weight: bolder;
}
input{
  font-size: large;
  background-color: #262627;
  margin-block: 8px;
  padding: 8px;
  border-radius: 5px;
}
textarea{
  padding: 8px;
  width: 100%;
  height: 4em;
  max-height: fit-content;
  resize: none;
}
.single-form{
  margin: auto;
  padding: 24px 32px;
  max-width: 600px;
  flex-direction: column;
  align-items: flex-start;
}
.date{
  position: absolute;
  top: 0;
  right: 8px;
  color: #999999;
  font-size: smaller;
  font-style: italic;
}
.message-label{
  width: 100%;
}
#message{
  width: 100%;
}